
@media (min-width: 200px) {
     
     .antesEdepois {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 95%;
          height: auto;
          padding: 1em;
          cursor: pointer;
          margin: 0 auto;
          overflow: hidden;
     }
     #tituloAntesDepois {
          text-align: center;
          margin: 1em auto;
     }
     .carrosselAntesDepois {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 400px;
     }
     .carrosselAntesDepois img{
          width: 100%;
          height: 400px;
     }
     #imgAntesDepois {
          display: none;
     }
     #tituloAntesDepois {
          background-color: #00b0d3;
          width: 99%;
          color: white;
          font-weight: bold;
          text-align: center;
          font-size: 2em;
          padding: 1em;
          margin: 10px auto;
          align-items: center;
          justify-content: center;
     }
}
@media (min-width: 1000px) {
     .antesEdepois {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 95%;
          height: auto;
          padding: 1em;
          cursor: pointer;
          margin: 0 auto;
          overflow: hidden;
     }
     #tituloAntesDepois {
          text-align: center;
          margin: 1em auto;
     }
     .carrosselAntesDepois {
          display: none;
     }
     #imgAntesDepois {
          user-select: none;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          width: 300px;
          height: 200px;
          margin: 0 1em;
          border-radius: 15px;
          filter: grayscale(40%);
     }
     #imgAntesDepois:hover {
          filter: none;
          filter: brightness(1.1);
     }
     #imgAntesDepois:active {
          position: absolute;
          z-index: 10000;
          object-fit: contain;
          transition: 0.3s;
          transform: scale(2.2);
          overflow: visible;
          filter: none;
     }
}
@media (min-width: 1250px) {
     #imgAntesDepois {
          width: 300px;
          height: 300px;
     }
}