@media (min-width: 200px) {
.bannerAgendamento {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 2em auto 0 auto;
     width: 80%;
     max-width: 100%;
     height: 700px;
     bottom: 0;
}
.bannerAgendamento button {
     letter-spacing: 1px;
     width: 200px;
     font-size: 1.3em;
     padding: 0.3em 2em;
     border-radius: 0.4em;
     background-color: black;
}
.bannerAgendamento a {
     color: white;
     text-decoration: none;
}
.bannerAgendamento h1 {
     font-size: 4em;
}
.bannerAgendamento h2 {
     font-size: 2em;
}
.bannerAgendamento h1, .bannerAgendamento h2 {
     text-align: left;
     font-family: serif;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: start;
}
.bannerAgendamento video {
     display: none;
     z-index: -50;
     position: absolute;
     width: 99%;
     height: 100%;
     object-fit: cover;
     opacity: 0.4;
}
}
@media (min-width: 750px) {
     .bannerAgendamento {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 13em auto 0 auto;
          width: 90%;
          height: 700px;
          bottom: 0;
     }
     .bannerAgendamento button {
          height: 70px;
          font-weight: bold;
     }
     .bannerAgendamento video {
          display: flex;
          transform: rotateY(180deg);
     }
}
@media (min-width: 1000px) {
     .bannerAgendamento {
          margin: 5em auto 0 auto;
     }
     .bannerAgendamento button {
          height: 50px;
          font-weight: bold;
     }
     .bannerAgendamento video {
          display: flex;
     }
}
@media (min-width: 1300px) {
     .bannerAgendamento {
          margin: 10em auto 0 auto;
     }
     .bannerAgendamento video {
          width: 100%;
     }
}