.carrossel {
     width: auto;
     max-width: 99%;
     display: flex;
     height: 37.1em;
     margin: 0;
     z-index: -1;
}
.carrossel img{
     margin: 0;
     width: auto;
     max-width: 98vw;
     height: 37.1em;
     object-fit: cover;
}
