.carrossel {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 595px;
     z-index: -1;
     overflow: hidden;
     width: 100%;
     box-shadow: 0px 0px 40px inset black;
}
.carrossel img{
     margin: auto;
     width: 100%;
     height: 595px;
     object-fit: cover;
}
