@import url(./footer.css);
@import url(./geral.css);
@import url(./menu-topo.css);

#esqueceuSenha {
     width: 95vw;
     height: 31.2em;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin: auto;
}
#email-recuperar {
     width: 100%;
     padding: 0.5em 7em;
     border-radius: 0.7em;
     outline: none;
}
#botao-recuperar {
     padding: 0.5em 1em;
     width: 100px;
     border-radius: 0.7em;
}
#botao-recuperar:hover {
     background-color: #3edfff;
}