@media (min-width: 200px) {
     
footer {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
     padding: 2em;
     background-color: #3edfff;
     width: auto;
     width: 98%;
     height: auto;
     color: black;
     text-align: center;
     font-size: 1em;
     margin: 0;
     bottom: 0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.contatos {
     display: block;
     font-size: 2em;
}
.links-footer {
     text-align: justify;
}
.links-footer a{
     color: black;
     text-decoration: none;
}
.links-footer a:hover {
     text-decoration: underline;
}
.links-footer a::after{
     color: black;
}
.links-footer ul{
     list-style: none;
}
.links-footer li {
     margin: 0.3em 0;
}
.redes-sociais-footer img{
     cursor: pointer;
     width: 2em;
     height: 2em;
     margin: 0 0.4em;
}
.redes-sociais-footer img:hover {
     transform: 0.3s;
     transform: scale(1.1);
}
#map {
     color: white;
     display: none;
     font-size: 1.7em;
}
.material-symbols-outlined {
     font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24
}
#googleMaps {
     margin: 1em 0;
     width: 99%;
     height: 300px;
}
}
@media (min-width: 1000px) {
     
     footer {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          flex-wrap: nowrap;
          padding: 2em 1em;
          background-color: #3edfff;
          width: 99vw;
          height: 400px;
          text-align: center;
          font-size: 1em;
          margin: 0;
          bottom: 0;
     }
     .material-symbols-outlined {
       font-variation-settings:
       'FILL' 0,
       'wght' 400,
       'GRAD' 0,
       'opsz' 24
     }
     .contatos {
          display: block;
          font-size: 2em;
     }
     .links-footer {
          text-align: center;
     }
     .links-footer a{
          color: black;
          text-decoration: none;
     }
     .links-footer a:hover {
          text-decoration: underline;
     }
     .links-footer a::after{
          color: black;
     }
     .links-footer ul{
          list-style: none;
     }
     .links-footer li {
          margin: 10px auto;
     }
     .redes-sociais-footer img{
          cursor: pointer;
          width: 3em;
          height: 3em;
          margin: 0 0.4em;
     }
     .redes-sociais-footer img:hover {
          transform: 0.3s;
          transform: scale(1.1);
     }
     #map {
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          display: flex;
          font-size: 1.5em;
     }
     #map iframe {
          width: 300px;
          height: 250px;
          border-radius: 5%;
          border: 0.4em solid white;
     }
     .material-symbols-outlined {
          font-variation-settings:
               'FILL' 0,
               'wght' 400,
               'GRAD' 0,
               'opsz' 24
     }
     #googleMaps {
          margin: 0;
          width: 99%;
          height: 300px;
     }
     }
@media (min-width: 1250px) {
          #map {
               display: flex;
               align-items: center;
               justify-content: center;
               color: white;
               display: flex;
               font-size: 1.5em;
          }
          #map iframe {
               width: 400px;
               height: 300px;
               border-radius: 5%;
               border: 0.4em solid white;
          }

}