
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url(./bannerAgendamento.css);
@import url(./carrossel.css);
@import url(./footer.css);
@import url(./menu-topo.css);
@import url(./section1.css);
@import url(./section2.css);
@import url(./section3.css);


* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
}
.tituloSection {
     text-align: center;
     height: 100px;
     width: 80%;
     padding: 0.5em  2em;
     font-size: 2.5em;
     margin: 0.5em auto;
     text-shadow: 1px 2px 2px #000000;
     color: #fff;
     background-color: #0fc3e8;
     -webkit-border-top-left-radius: 50px;
     -webkit-border-bottom-right-radius: 50px;
}