@import url(./footer.css);
@import url(./index.css);
@import url(./menu-topo.css);

@media (min-width: 200px){
     #artigoLipoaspiracao {
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: space-between;
     margin: 0 auto;
     color: black;
}
#artigoLipoaspiracao img {
     display: none;
     height: auto;
     width: auto;
     margin: 0.8em auto;
}
.lipo {
     width: 100%;
     height: 100%;
     padding: 2em 0;
     margin: 2em 1.3em;
     font-size: 1.3em;
     font-weight: 500;
}
.lipo h1 {
     color: #00aacc;
     font-weight: bold;
}
}
@media (min-width: 1000px){
     #artigoLipoaspiracao {
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: space-between;
     margin: 0 auto;
     color: black;
}
#artigoLipoaspiracao img {
     display: flex;
     height: auto;
     width: 40%;
     margin: 0.8em auto;
}
.lipo {
     width: 100%;
     height: 100%;
     padding: 2em 0;
     margin: 2em 1.3em;
     font-size: 1.3em;
     font-weight: 500;
}
.lipo img {
     margin: auto;
     width: 100%;
     height: 100%;
}
}